@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Darkcyan);
}

main{
    height: 100vh;
    overflow: hidden;
}

.image-main{
    position: relative;
}

.top{
    position: absolute;
    width: 600px;
    height: 600px;
    top: -350px;
    left: -370px;
    z-index: -1;
}

.bottom{
    position: absolute;
    width: 600px;
    height: 600px;
    right: -370px;
    bottom: -925px;
    z-index: -1;
}

.card-container{
    margin: 110px auto;
    width: 330px;
    height: 410px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 1px ;
    border-radius: 15px;
    position: relative;
    align-items: center;
    gap: 30px;
}

.image-container{
    width: 100%;
    height: 140px;
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 15px 15px 0 0;
}

.image-profile{
    background-image: url(images/image-victor.jpg);
    z-index: 2;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 5px solid white;
    right: 35%;
    bottom: 214px;
    position: absolute;
}

.information{
    padding-top: 50px;
    width: 150px;
    height: 51px;
}

.name{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    align-items: center;
}


p{
    font-size: 15px;
    color: var(--Darkgray);
}

h1, h2{
    font-size: 18px;
    color: var(--Verydarkdesaturatedblue);
}

hr{
    width: 100%;
}

.stats{
    width: 265px;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
}

.stats p{
    font-size: 13px;
    padding-top: 5px;
}

.data{
    width: 65px;
    height: 65px;
}

@media screen and (min-width: 1200px){
    .card-container{
        margin: 120px auto;
    }
    .top{
        width: 900px;
        height: 900px;
        top: -500px;
        left: -290px;
    }
    .bottom{
        width: 900px;
        height: 900px;
        bottom: -1250px;
        right: -200px;
    }
}